h1{
    font-family: Lobster;
    text-align: center;
    color: red;
    font-size: 100px;
        }
      body{
          background-color: blanchedalmond;
      } 
      .topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.topnav {
  overflow: hidden;
  background-color: rgb(250, 3, 3);
  padding: 76px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f5e507;
  color: rgb(247, 8, 8);
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}